<ion-header>
  <ion-toolbar>
    <ion-title>Métodos de Pago</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="selectPaymentMethod('Visa')">
      <ion-label>Visa</ion-label>
    </ion-item>
    <ion-item button (click)="selectPaymentMethod('Yape')">
      <ion-label>Yape</ion-label>
    </ion-item>
    <ion-item button (click)="selectPaymentMethod('BBVA')">
      <ion-label>BBVA</ion-label>
    </ion-item>
  </ion-list>
</ion-content>